
.container {
  width: 700px;
  margin-left: 20px;
  margin-right: auto;
}

@font-face {
    font-family: Thesis; sans-serif;
    src: url(../fonts/1942.ttf);
}

.typing {
    font-family: 'Thesis', "sans-serif";
    position: absolute;
    color: white;
    font-size: 2vw;
    text-align: left;
    animation-delay: 3s;
    padding-left: 20px;
    padding-right: 10vw;
  }
  
.typing > * {
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 2s steps(25);
    }
  
  @keyframes typingAnim {
    from { width: 0 }
    to { width: 100% }
  }
body {
  background-image: url(../img/Gif4.gif);  
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  padding: 50px 50px 50x 50px
     }

.bookmarks li {
  float: down;
  margin-top: 50vw;
  margin-left: 5vw;
  background: url('../img/Button1.jpg') no-repeat left center;
  padding: 5px 10px 5px 25px;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  }
  /*padding-left: 20px;

}
  